<div class="mx-5 mt-5 sm:mt-20" data-controller="video-preview">
  <h1 class="text-2xl font-bold my-20 text-center">パスワード変更</h1>
  <div class="p-6 m-auto bg-slate-50 rounded-md shadow-md sm:max-w-md mt-5 sm:mt-20">
    <div class="space-y-4">
      <%= form_with model: @user, url: update_password_user_path(uuid: @user.uuid), local: true, method: :patch do |f| %>
        <div class="mb-4">
          <%= f.label :password, '新しいパスワード' %>
          <%= f.password_field :password, class: 'w-full input input-bordered input-primary mt-2', required: true, autocomplete: "new-password" %>
        </div>
        <div class="mb-4">
          <%= f.label :password_confirmation, 'パスワードの確認' %>
          <%= f.password_field :password_confirmation, class: 'w-full input input-bordered input-primary mt-2', required: true, autocomplete: "new-password" %>
        </div>
        <div class="flex justify-end space-x-2 mt-4">
          <%= f.button type: 'submit', class: 'btn btn-primary' do %>
            <i class="ph ph-keyhole large-icon"></i> 更新
          <% end %>
        </div>
        <div class="mt-4 text-right">
          <ul class="menu menu-horizontal px-1">
            <li><%= link_to 'ユーザー詳細に戻る', user_path(id: @user.uuid) %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
