<!-- ページの全体的なマージンとパディングを設定 -->
<div class="mx-5 mt-5 sm:mt-20" data-controller="video-preview">

  <!-- ページタイトルを中央寄せにし、上の余白を加える -->
  <h1 class="text-2xl font-bold my-20 text-center">ユーザー登録</h1>
  
    <div class="p-6 m-auto bg-slate-50 rounded-md shadow-md sm:max-w-md mt-5 sm:mt-20">
    <div class= "space-y-4">
      <%= form_with model: @user, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
      
        <%= f.label :name, '名前' %>
        <%= f.text_field :name, class: 'w-full input input-bordered input-primary', required: true %>
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'w-full input input-bordered input-primary', required: true %>
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'w-full input input-bordered input-primary', required: true %>
        <%= f.label :password_confirmation, 'パスワード確認' %>
        <%= f.password_field :password_confirmation, class: 'w-full input input-bordered input-primary', required: true %>
        
        <div class="text-3xl font-semibold text-center">
          <%= f.submit '新規登録', class: 'btn my-3 btn-green' %>
        </div>
      <% end %>
    </div>
    <div class='text-center link link-neutral'>
      <%= link_to 'ログインページへ', login_path %>
    </div>
  </div>
</div>
