<div class="mx-5 mt-5 sm:mt-20" data-controller="video-preview">
  <h1 class="text-2xl font-bold my-20 text-center">ユーザー詳細情報</h1>
  <div class="p-6 m-auto bg-slate-50 rounded-md shadow-md sm:max-w-md mt-5 sm:mt-20">
    <div class="space-y-4">
      <div class="mb-4">
        <label class="block text-gray-700">ユーザー名</label>
        <div class="w-full input input-bordered input-primary-content mt-1 p-2 bg-white flex items-center"><%= @user.name %></div>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">メールアドレス</label>
        <div class="w-full input input-bordered input-primary-content mt-1 p-2 bg-white flex items-center"><%= @user.email %></div>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">メッセージテンプレート</label>
        <div class="w-full input input-bordered input-primary-content mt-1 p-2 bg-white h-32 flex items-center"><%= @user.message_template %></div>
      </div>
      <div class="flex justify-end space-x-2 mt-4">
        <%= link_to edit_user_path(uuid: @user.uuid), class: "btn btn-primary", id: "button-edit-#{@user.uuid}" do %>
          <i class="ph ph-note-pencil large-icon"></i> 編集
        <% end %>
      </div>
      <div class='text-left'>
        <ul class="menu menu-horizontal px-1">
          <li><%= link_to 'パスワード変更はこちら', edit_password_user_path(uuid: @user.uuid) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
