<header>
  <nav class="bg-gray-100 p-4 fixed top-0 w-full z-50">
    <div class="container mx-auto flex items-center justify-between">
      <%= link_to root_path, class: "text-3xl font-header_name" do %>
        <%= image_tag 'new_logo.png', alt: 'Logo' %>
      <% end %>

      <div class="md:hidden">
        <button class="text-gray-500 focus:outline-none" id="mobile-menu-button">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>

      <% if current_user.admin? %>
        <span class="bg-red-100 text-red-800 text-sm font-bold px-3 py-1 rounded-full">
          管理者としてログイン中
        </span>
      <% end %>

      <% unless current_user.admin? %>
        <div class="dropdown dropdown-bottom dropdown-end" style="z-index: 200;">
          <div tabindex="0" role="button" class="bg-transparent text-black">アイテム</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li><%= link_to 'アイテム一覧', items_path, class: 'block px-4 py-2 text-gray-700 hover:bg-gray-100' %></li>
              <li><%= link_to 'アイテム作成', new_item_path, class: 'block px-4 py-2 text-gray-700 hover:bg-gray-100' %></li>
            </ul>
        </div>

        <%= link_to '送信一覧', send_lists_path, class: "text-gray-700 hover:text-gray-900" %>
      <% end %>

      <div class="dropdown dropdown-bottom dropdown-end" style="z-index: 200;">
        <div tabindex="0" role="button" class="bg-transparent text-black"><%= current_user.name %></div>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          <!-- ここで current_user.uuid を使用 -->
          <li><%= link_to 'ユーザー詳細', user_path(current_user.uuid), class: 'block px-4 py-2 text-gray-700 hover:bg-gray-100' %></li>
          <li><%= link_to 'ログアウト', logout_path, class: 'block px-4 py-2 text-gray-700 hover:bg-gray-100', data: { turbo_method: :delete } %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
