<div class="mx-5 mt-5 sm:mt-20" data-controller="video-preview">
  <h1 class="text-2xl font-bold my-20 text-center">送信結果一覧</h1>

  <div class="container px-10 pt-20 pb-20 mx-auto bg-slate-40 rounded-md shadow-md my-10">
    <div class="overflow-x-auto">
      <table class="table table-lg">
        <thead>
          <tr class="bg-gray-100">
            <th class="px-6 py-3">No.</th>
            <th class="px-6 py-3">送信先番号</th>
            <th class="px-6 py-3">送信日時</th>
            <th class="px-6 py-3">送信動画ID</th>
            <th class="px-6 py-3">送信者</th>
          </tr>
        </thead>
        <tbody>
          <% @send_lists.each_with_index do |send_list, index| %>
            <tr>
              <th class="px-6 py-4"><%= index + 1 %></th>
              <td class="px-6 py-4"><%= send_list.phone_number %></td>
              <td class="px-6 py-4"><%= send_list.send_at %></td>
              <td class="px-6 py-4"><%= send_list.item_id %></td>
              <td class="px-6 py-4"><%= send_list.sender %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
  </div>
</div>
