<div class="mx-5 mt-5 sm:mt-20" data-controller="video-preview">
  <div class="flex flex-col sm:flex-row justify-center items-center sm:space-x-20">
    <div class="p-6 bg-slate-50 rounded-md shadow-md" style="width: 360px;">
      <%= form_with(model: @item, local: true) do |f| %>
        <% if @item.errors.any? %>
          <div class="text-red-500 mb-4">
            <h2 class="text-xl font-semibold"><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
            <ul class="list-disc list-inside">
              <% @item.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-4">
          <%= f.label :title, 'タイトル', class: "block text-gray-700" %>
          <%= f.text_field :title, class: "w-full input input-bordered input-primary mt-1", placeholder: '例：心臓マッサージ' %>
        </div>

        <div class="mb-4">
          <%= f.label :description, '説明', class: "block text-gray-700" %>
          <%= f.text_area :description, class: "w-full textarea textarea-bordered textarea-primary mt-1 h-24" %>
        </div>

        <div class="mb-4">
          <%= f.label :tag, 'タグ（最大3つまで）', class: "block text-gray-700" %>
          <%= f.text_field :tag_list, 
                class: "w-full input input-bordered input-primary mt-1 placeholder:text-xs", 
                value: @item.tag_list.join("、"), 
                placeholder: '読点(、) カンマ(,) 半角スラッシュ(/)で区切る' %>
        </div>

        <div class="mb-4">
          <%= f.label :item_url, "動画URL", class: "block text-gray-700" %>
          <%= f.text_area :item_url, placeholder: 'YouTube shortsのURLのみ登録可', class: "w-full textarea textarea-bordered textarea-primary mt-1 h-24", data: { video_preview_target: "url" } %>
        </div>

        <!-- 管理者のみ表示,一般公開設定 -->
        <% if @is_admin %>
          <div class="form-control">
            <%= f.label :shared_with_general, class: "flex items-center cursor-pointer" do %>
              <%= f.check_box :shared_with_general, class: "checkbox checkbox-primary mr-2" %>
              <span class="label-text">一般ユーザーに公開する</span>
            <% end %>
            <p class="text-xs text-gray-500 mt-1">チェックすると、一般ユーザーもこのアイテムを閲覧・使用できるようになります</p>
          </div>
        <% end %>

        <div class="flex justify-end space-x-2 mt-4">
          <%= f.button type: 'submit', class: 'btn btn-primary' do %>
            <i class="ph ph-download-simple large-icon"></i> 保存
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="mt-5 sm:mt-0 sm:order-2"> 
      <div class="mockup-phone" >
        <div class="camera"></div> 
        <div class="display">
          <div class="artboard artboard-demo phone-1">
            <div id="preview" data-video-preview-target="preview">プレビューがここに表示されます</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
