<div class="col-span-1 mb-3 max-h-480 min-h-240">
  <div id="post-id-<%= item.id %>" class="bg-white shadow-md rounded-md p-4 h-full">
    <div class="text-center h-full flex flex-col justify-between">
      <div class="relative" style="padding-bottom: 177.78%; height: 0; overflow: hidden;">
        <iframe
          class="absolute top-0 left-0 w-full h-full"
          src="https://www.youtube.com/embed/<%= get_youtube_shorts_id(item.item_url) %>"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
      <div class="mt-4">
        <div class="text-lg font-semibold">
          <%= link_to item.title, item_path(item), class: "block" %>
        </div>
        <div>
          <% item.tag_list.each do |tag| %>
  <%= link_to tag, items_path(tag: tag), class: "badge rounded-full bg-blue-500 hover:bg-blue-700 text-white px-3 py-1 text-xs no-underline" %>
<% end %>

        </div>
        <br>
        <div class="flex justify-end">
          <button class="btn btn-primary" onclick="document.getElementById('sendModal-<%= item.id %>').showModal()">
            <i class="ph ph-rocket-launch large-icon"></i> 送信 <!-- Phosphor icon for sending -->
          </button>
        </div>
        <dialog id="sendModal-<%= item.id %>" class="modal">
          <div class="modal-box">
            <button class="btn btn-sm btn-circle absolute right-2 top-2" onclick="document.getElementById('sendModal-<%= item.id %>').close()">✕</button>
            <h3 class="font-bold text-lg mb-4">送信フォーム</h3>
            <form method="post" action="<%= send_sms_path %>" class="flex flex-col items-center gap-4">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <input type="hidden" name="item_id" value="<%= item.id %>">
              <div class="w-full max-w-xs">
                <label class="label block text-left">送信先電話番号:</label>
                <input type="text" placeholder="ハイフンなし" name="phone_number" class="input input-bordered w-full" required>
              </div>
              <div class="w-full max-w-xs">
                <label class="label block text-left">送信者名:</label>
                <input type="text" placeholder="送信者名を入力" name="sender_name" class="input input-bordered w-full" required>
              </div>
              <div class="w-full max-w-xs">
                <div class="flex items-center">
                  <label>テスト送信</label>
                  <input type="checkbox" name="send_as_test" class="checkbox checkbox-primary" style="margin-left: 16px;">
                </div>
              </div>
              <div class="modal-action">
                <input type="submit" value="送信する" class="btn btn-primary">
              </div>
            </form>
          </div>
        </dialog>
      </div>
    </div>
  </div>
</div>
