<div class="col-span-1 mb-3 max-h-480 min-h-240">
  <div id="post-id-<%= item.id %>" class="bg-white shadow-md rounded-md p-4 h-full">
    <div class="text-center h-full flex flex-col justify-between">
      <div class="relative" style="padding-bottom: 177.78%; height: 0; overflow: hidden;">
        <iframe
          class="absolute top-0 left-0 w-full h-full"
          src="https://www.youtube.com/embed/<%= get_youtube_shorts_id(item.item_url) %>"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
      <div class="mt-4">
        <div class="text-lg font-semibold">
          <%= link_to item.title, item_path(item), class: "block" %>
        </div>
        <%# タグリストを非表示 %>
        <!--
        <div>
          <% item.tag_list.each do |tag| %>
            <%= link_to tag, items_path(tag: tag), class: "badge rounded-full bg-blue-500 hover:bg-blue-700 text-white px-3 py-1 text-xs no-underline" %>
          <% end %>
        </div>
        -->
        <br>
        <div class="flex justify-end">
          <%= render 'shared/sms_button', item: item %>
        </div>
      </div>
    </div>
  </div>
</div>
