<div class="col-span-1 mb-3 max-h-480 min-h-240">
  <div id="post-id-<%= item.id %>" class="bg-white shadow-md rounded-md p-4 h-full">
    <%= link_to item_path(item), class: "block h-full" do %>
      <div class="text-center h-full flex flex-col justify-between">
        <div class="relative" style="padding-bottom: 177.78%; height: 0; overflow: hidden;">
          <iframe
            class="absolute top-0 left-0 w-full h-full"
            src="https://www.youtube.com/embed/<%= get_youtube_shorts_id(item.item_url) %>"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
        <div class="mt-4">
          <div class="text-lg font-semibold">
            <%= item.title %>
            <p>[タグ]</p>
            <%= link_to '送信する', '#', class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
