<div class="mx-5 mt-5 sm:mt-20" data-controller="video-preview">
  <h1 class="text-2xl font-bold my-20 text-center">アイテム一覧</h1>
  <%= form_with(url: items_path, method: :get, local: true, class: "mb-5") do |form| %>
    <div class="flex justify-center gap-2">
      <%= form.text_field :search, placeholder: "タイトル、説明、タグで検索", class: "input input-bordered w-64" %>
      <%= form.submit "検索", class: "btn btn-gray px-4" %>
    </div>
  <% end %>

  <% if params[:search].present? %>
    <div class="text-center mt-5">
      <% if @items.any? %>
        <p>「<%= params[:search] %>」を検索した結果：<%= @items.total_count %>件見つかりました。</p>
      <% else %>
        <p>「<%= params[:search] %>」に一致するアイテムは見つかりませんでした。</p>
      <% end %>
    </div>
  <% end %>
  <br>
  
  <% if @items.any? %>
    <div class="flex justify-center">
      <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-5 gap-x-8 gap-y-6">
        <% @items.each do |item| %>
          <div class="aspect-[9/16] max-h-720 min-h-480" style="max-width: 360px; min-width: 240px; margin-left: 16px; margin-right: 16px;">
            <%= render 'item', item: item %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="flex justify-center mt-10 mb-20">
      <%= paginate @items %>
    </div>
  <% else %>
    <div class="text-center mt-10">
      <% if params[:search].present? %>
        <!-- 何も表示しない。検索メッセージが既に表示されている -->
      <% else %>
        <p class="text-lg">まだアイテムがありません...</p>
        <br>
        <!-- 新規作成ボタンの条件分岐 -->
        <% if @can_create %>
          <%= button_to '新規作成する', new_item_path, method: :get, class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
