<p style="color: green"><%= notice %></p>

<div class="mx-5" data-controller="video-preview">
  <div class="p-6 m-auto bg-slate-50 rounded-md shadow-md sm:max-w-md mt-5 sm:mt-20">
<%= render 'item', item: @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item), class: "btn btn-blue" %> |
  <%= link_to "Back to items", items_path, class: "btn btn-blue" %> |
  <%= button_to "Destroy this item", @item, method: :delete, class: "btn btn-red" %>
</div>
