<div class="mx-5 mt-5 sm:mt-20" data-controller="video-preview">
  <h1 class="text-2xl font-bold my-20 text-center">ユーザーログイン</h1>
  <div class="p-6 m-auto bg-slate-50 rounded-md shadow-md sm:max-w-md mt-5 sm:mt-20">
    <div class= "space-y-4">
      <%= form_with url: login_path, local: true do |f| %>
        <%= f.label :email, 'メールアドレス'%>
        <%= f.text_field :email, class: 'w-full input input-bordered input-primary' %>
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'w-full input input-bordered input-primary space-y-4' %>
        <div class="flex justify-end space-x-2 mt-4">
          <%= f.button type: 'submit', class: 'btn btn-primary' do %>
          <i class="ph ph-user large-icon"></i> ログイン
          <% end %>
        </div>
      <% end %>
    </div>
    <br>
    <div class='text-center'>
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to '新規登録ページへ', new_user_path %></li>
        <li><%= link_to 'パスワードをお忘れの方はこちら', new_password_reset_path %></li>
      </ul>
    </div>
  </div>
</div>
